In [3]:
print('hello coders')

hello coders

In [1]:
#implementation of regular expressions
import re
name=input('Enter the name of the file--')
hand=open(name)
numlist=list()
for line in hand:
   line=line.rstrip()
   stuff=re.findall('[0-9]+',line)
   n=len(stuff)
   for i in range(0,n):
      num=int(stuff[i])
      numlist.append(num)
print(sum(numlist))

Enter the name of the file--Python test.txt
882

In [1]:
#webscrapping
import socket

mysock = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
mysock.connect(('data.pr4e.org', 80))
cmd = 'GET http://data.pr4e.org/intro-short.txt HTTP/1.0\r\n\r\n'.encode()
mysock.send(cmd)

while True:
    data = mysock.recv(512)
    if len(data) < 1:
        break
    print(data.decode(),end='')

mysock.close()

HTTP/1.1 200 OK
Date: Tue, 30 Jun 2020 14:11:15 GMT
Server: Apache/2.4.18 (Ubuntu)
Last-Modified: Sat, 13 May 2017 11:22:22 GMT
ETag: "1d3-54f6609240717"
Accept-Ranges: bytes
Content-Length: 467
Cache-Control: max-age=0, no-cache, no-store, must-revalidate
Pragma: no-cache
Expires: Wed, 11 Jan 1984 05:00:00 GMT
Connection: close
Content-Type: text/plain

Why should you learn to write programs?

Writing programs (or programming) is a very creative
and rewarding activity.  You can write programs for
many reasons, ranging from making your living to solving
a difficult data analysis problem to having fun to helping
someone else solve a problem.  This book assumes that
everyone needs to know how to program, and that once
you know how to program you will figure out what you want
to do with your newfound skills.

In [ ]:
#use of beautiful soup to easily modify the data from web
from urllib.request import urlopen
from bs4 import BeautifulSoup
import ssl

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

url = input('Enter - ')
html = urlopen(url, context=ctx).read()
soup = BeautifulSoup(html, "html.parser")

# Retrieve all of the anchor tags
tags = soup('a')
for tag in tags:
    # Look at the parts of a tag
    print('TAG:', tag)
    print('URL:', tag.get('href', None))
    print('Contents:', tag.contents[0])
    print('Attrs:', tag.attrs)

In [6]:
import urllib.request, urllib.parse, urllib.error
import xml.etree.ElementTree as ET
import ssl

api_key = False
# If you have a Google Places API key, enter it here
# api_key = 'AIzaSy___IDByT70'
# https://developers.google.com/maps/documentation/geocoding/intro

if api_key is False:
    api_key = 42
    serviceurl = 'http://py4e-data.dr-chuck.net/xml?'
else :
    serviceurl = 'https://maps.googleapis.com/maps/api/geocode/xml?'

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE


address = input('Enter location: ')


parms = dict()
parms['address'] = address
if api_key is not False: parms['key'] = api_key
url = serviceurl + urllib.parse.urlencode(parms)
print('Retrieving', address)
uh = urllib.request.urlopen(address, context=ctx)

data = uh.read()
print('Retrieved', len(data), 'characters')
   
tree = ET.fromstring(data)
s=list()
counts = tree.findall('comments/comment')
print('Count:',len(counts))
for item in counts:
    x=item.find('count').text
    s.append(x)
z=0
 
for i in range(0,len(s)):
    z=z+int(s[i])
print(z)

Enter location: http://py4e-data.dr-chuck.net/comments_358289.xml
Retrieving http://py4e-data.dr-chuck.net/comments_358289.xml
Retrieved 4211 characters
Count: 50
2570

In [4]:
import urllib.request, urllib.parse, urllib.error
import ssl
import json

api_key = False
# If you have a Google Places API key, enter it here
# api_key = 'AIzaSy___IDByT70'
# https://developers.google.com/maps/documentation/geocoding/intro

if api_key is False:
    api_key = 42
    serviceurl = 'http://py4e-data.dr-chuck.net/xml?'
else :
    serviceurl = 'https://maps.googleapis.com/maps/api/geocode/xml?'

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

address = input('Enter location: ')
    
print('Retrieving', address)
uh = urllib.request.urlopen(address, context=ctx)
data = uh.read()
print('Retrieved', len(data), 'characters')
data=data.decode()
    
try:
    js=json.loads(data)
except:
    js=None
    
    
    
count=js["comments"]
print('Count:',len(count))
s=list()
for i in range(0,len(count)):
    x=count[i]["count"]
    s.append(x)
print('Sum:',sum(s))

Enter location: http://py4e-data.dr-chuck.net/comments_358290.json
Retrieving http://py4e-data.dr-chuck.net/comments_358290.json
Retrieved 2734 characters
Count: 50
Sum: 2653

In [12]:
import urllib.request, urllib.parse, urllib.error
import json
import ssl

api_key = False
# If you have a Google Places API key, enter it here
# api_key = 'AIzaSy___IDByT70'
# https://developers.google.com/maps/documentation/geocoding/intro

if api_key is False:
    api_key = 42
    serviceurl = 'http://py4e-data.dr-chuck.net/json?'
else :
    serviceurl = 'https://maps.googleapis.com/maps/api/geocode/json?'

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE


address = input('Enter location: ')

    
parms = dict()
parms['address'] = address
if api_key is not False: parms['key'] = api_key
url = serviceurl + urllib.parse.urlencode(parms)
    
print('Retrieving', url)
uh = urllib.request.urlopen(url, context=ctx)
data = uh.read().decode()
print('Retrieved', len(data), 'characters')

try:
    js = json.loads(data)
except:
    js = None


        
id=js["results"][0]["place_id"]
print(id)

Enter location: Stonehill College
Retrieving http://py4e-data.dr-chuck.net/json?address=Stonehill+College&key=42
Retrieved 2319 characters
ChIJn5zYbvGF5IkRTbM649ktu9s

In [11]:
#database management using sqlite3 library
import sqlite3

conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts')

cur.execute('''
CREATE TABLE Counts (org TEXT, count INTEGER)''')

fname = input('Enter file name: ')
if (len(fname) < 1): fname = 'mbox-short.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: '): continue
    pieces = line.split()
    email = pieces[1]
    p=email.split('@')
    org=p[1]
    cur.execute('SELECT count FROM Counts WHERE org = ? ', (org,))
    row = cur.fetchone()
    if row is None:
        cur.execute('''INSERT INTO Counts (org, count)
                VALUES (?, 1)''', (org,))
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE org = ?',
                    (org,))
    conn.commit()

# https://www.sqlite.org/lang_select.html
sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

cur.close()

Enter file name: mbox.txt
iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17

In [1]:
#Building tracks data base
import xml.etree.ElementTree as ET
import sqlite3

conn = sqlite3.connect('trackdb.sqlite')
cur = conn.cursor()

# Make some fresh tables using executescript()
cur.executescript('''
DROP TABLE IF EXISTS Artist;
DROP TABLE IF EXISTS Album;
DROP TABLE IF EXISTS Track;

CREATE TABLE Artist (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Genre (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Album (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    artist_id  INTEGER,
    title   TEXT UNIQUE
);

CREATE TABLE Track (
    id  INTEGER NOT NULL PRIMARY KEY 
        AUTOINCREMENT UNIQUE,
    title TEXT  UNIQUE,
    album_id  INTEGER,
    genre_id  INTEGER,
    len INTEGER, rating INTEGER, count INTEGER
);
''')


fname = input('Enter file name: ')
if ( len(fname) < 1 ) : fname = 'Library.xml'

# <key>Track ID</key><integer>369</integer>
# <key>Name</key><string>Another One Bites The Dust</string>
# <key>Artist</key><string>Queen</string>
def lookup(d, key):
    found = False
    for child in d:
        if found : return child.text
        if child.tag == 'key' and child.text == key :
            found = True
    return None

stuff = ET.parse(fname)
all = stuff.findall('dict/dict/dict')
print('Dict count:', len(all))
for entry in all:
    if ( lookup(entry, 'Track ID') is None ) : continue

    name = lookup(entry, 'Name')
    artist = lookup(entry, 'Artist')
    album = lookup(entry, 'Album')
    count = lookup(entry, 'Play Count')
    rating = lookup(entry, 'Rating')
    length = lookup(entry, 'Total Time')
    genre = lookup(entry, 'Genre')

    if name is None or artist is None or album is None : 
        continue

    print(name, artist, album, count, rating, length)

    cur.execute('''INSERT OR IGNORE INTO Artist (name) 
        VALUES ( ? )''', ( artist, ) )
    cur.execute('SELECT id FROM Artist WHERE name = ? ', (artist, ))
    artist_id = cur.fetchone()[0]
    
    cur.execute('''INSERT OR IGNORE INTO Genre (name) 
        VALUES ( ? )''', ( genre, ) )
    cur.execute('SELECT id FROM Genre WHERE name = ? ', (genre, ))
    genre_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Album (title, artist_id) 
        VALUES ( ?, ? )''', ( album, artist_id ) )
    cur.execute('SELECT id FROM Album WHERE title = ? ', (album, ))
    album_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Track
        (title, album_id, genre_id, len, rating, count) 
        VALUES ( ?, ?, ?, ?, ?, ? )''', 
        ( name, album_id, genre_id, length, rating, count ) )

    conn.commit()

Enter file name:
Dict count: 404
Another One Bites The Dust Queen Greatest Hits 55 100 217103
Asche Zu Asche Rammstein Herzeleid 79 100 231810
Beauty School Dropout Various Grease 48 100 239960
Black Dog Led Zeppelin IV 109 100 296620
Bring The Boys Back Home Pink Floyd The Wall [Disc 2] 33 100 87118
Circles Bryan Lee Blues Is 54 60 355369
Comfortably Numb Pink Floyd The Wall [Disc 2] 36 100 384130
Crazy Little Thing Called Love Queen Greatest Hits 38 100 163631
Electric Funeral Black Sabbath Paranoid 44 100 293015
Fat Bottomed Girls Queen Greatest Hits 38 100 257515
For Those About To Rock (We Salute You) AC/DC Who Made Who 84 100 353750
Four Sticks Led Zeppelin IV 84 100 284421
Furious Angels Rob Dougan The Matrix Reloaded 54 100 330004
Gelle Bryan Lee Blues Is 45 60 199836
Going To California Led Zeppelin IV 100 100 215666
Grease Various Grease 42 100 205792
Hand of Doom Black Sabbath Paranoid 36 100 429609
Hells Bells AC/DC Who Made Who 82 100 312946
Hey You Pink Floyd The Wall [Disc 2] 23 100 282305
I Worry Bryan Lee Blues Is 33 100 341315
Iron Man Black Sabbath Paranoid 39 100 358530
Is There Anybody Out There? Pink Floyd The Wall [Disc 2] 26 100 160679
It was a Very Good Year Frank Sinatra Greatest Hits 39 100 268852
Its Your Move Bryan Lee Blues Is 40 100 245002
Jack the Stripper/Fairies Wear Boots Black Sabbath Paranoid 35 100 373995
Killer Queen Queen Greatest Hits 34 100 181368
Laichzeit Rammstein Herzeleid 41 100 262844
Let me Down Easy Bryan Lee Blues Is 43 100 331441
Misty Mountain Hop Led Zeppelin IV 88 100 278831
No Low Down Bryan Lee Blues Is 39 100 245760
Now You Are Gone America Greatest Hits 52 100 187559
Outside The Wall Pink Floyd The Wall [Disc 2] 16 100 104437
Paranoid Black Sabbath Paranoid 36 100 172930
Planet Caravan Black Sabbath Paranoid 38 100 274938
Pretty Jeanie Bryan Lee Blues Is 34 100 225175
Rammstein Rammstein Herzeleid 45 100 265090
Rat Salad Black Sabbath Paranoid 46 100 150230
Rock & Roll Led Zeppelin IV 109 100 220891
Rode Across the Desert America Greatest Hits 60 100 249887
Sandy Various Grease 36 100 155742
Shake Your Foundations AC/DC Who Made Who 85 100 233769
Sister Golden Hair America Greatest Hits 60 100 202057
Somebody To Love Queen Greatest Hits 17 100 297586
Stairway To Heaven Led Zeppelin IV 93 100 481567
Strangers in the Night Frank Sinatra Greatest Hits 42 100 158484
Summer Nights Various Grease 35 100 216973
Summer Wind Frank Sinatra Greatest Hits 46 100 177554
Thats Life Frank Sinatra Greatest Hits 43 100 189988
The Battle Of Evermore Led Zeppelin IV 110 100 351529
The Blues "Is" Bryan Lee Blues Is 45 100 252238
There it Is Bryan Lee Blues Is 35 100 395441
Think Bryan Lee Blues Is 41 100 320339
This Town Frank Sinatra Greatest Hits 44 100 185051
Tin Man America Greatest Hits 50 100 210076
Track 01 Billy Price Danger Zone 47 100 261825
Track 02 Billy Price Danger Zone 42 100 165459
Track 03 Billy Price Danger Zone 41 100 206471
Messin with the Kid The Canettes Blues Band Self Titled 23 100 226377
Track 04 Billy Price Danger Zone 37 100 257175
Stormy Monday The Canettes Blues Band Self Titled 29 100 464143
Track 05 Billy Price Danger Zone 42 100 230295
Waiting on Ice Bryan Lee Blues Is 37 100 289384
War Pigs/Luke's Wall Black Sabbath Paranoid 38 100 478197
We Are The Champions Queen Greatest Hits 24 100 181864
We Will Rock You Queen Greatest Hits 33 100 123559
When Somebody Loves You Frank Sinatra Greatest Hits 43 100 117263
When The Levee Breaks Led Zeppelin IV 83 100 427624
You are the One that I Want Various Grease 31 100 169900
You Done Me Wrong Bryan Lee Blues Is 35 100 200097
You Shook Me All Night Long AC/DC Who Made Who 92 100 210938
You're My Best Friend Queen Greatest Hits 31 100 172643
Zion Fluke The Matrix Reloaded 47 100 273528
Who Made Who AC/DC Who Made Who 110 100 207203
D.T. AC/DC Who Made Who 90 None 173714
Sink the Pink AC/DC Who Made Who 83 None 253466
Ride On AC/DC Who Made Who 75 None 351268
Chase the Ace AC/DC Who Made Who 93 None 181420
Wollt Ihr Das Bett In Flammen Sehen Rammstein Herzeleid 50 None 317387
Der Meister Rammstein Herzeleid 46 None 250801
Weisses Fleisch Rammstein Herzeleid 52 None 215902
Seemann Rammstein Herzeleid 34 None 288235
Du Riechst So Gut Rammstein Herzeleid 50 None 289332
Das Alte Leid Rammstein Herzeleid 46 None 344581
Heirate Mich Rammstein Herzeleid 39 None 284734
Herzeleid Rammstein Herzeleid 42 None 223425
Baba O'Riley The Who Who's Next 45 None 298448
Bargain The Who Who's Next 37 None 331676
Love Ain't for Keeping The Who Who's Next 24 None 130560
My Wife The Who Who's Next 17 None 213786
The Song Is Over The Who Who's Next 14 None 375797
Getting In Tune The Who Who's Next 27 None 288809
Going Mobile The Who Who's Next 28 100 221910
Behind Blue Eyes The Who Who's Next 43 None 221570
Won't Get Fooled Again The Who Who's Next 21 None 511111
Folsom Prison Blues Johnny Cash The Legend Of Johnny Cash 47 100 170004
I Walk The Line Johnny Cash The Legend Of Johnny Cash 33 100 165720
Get Rhythm Johnny Cash The Legend Of Johnny Cash 35 100 134530
Big River Johnny Cash The Legend Of Johnny Cash 51 None 152711
Guess Things Happen That Way Johnny Cash The Legend Of Johnny Cash 35 None 111386
Ring Of Fire Johnny Cash The Legend Of Johnny Cash 30 100 157100
Jackson Johnny Cash The Legend Of Johnny Cash 35 100 166530
A Boy Named Sue (live) Johnny Cash The Legend Of Johnny Cash 37 None 226063
You Raise Me Up Selah Hiding Place 9 None 302262
Hold On, I'm Coming The Canettes Blues Band On Tap & In the Can 34 100 282566
Got my Mojo Working The Canettes Blues Band On Tap & In the Can 52 100 310517
Sweet Home Chicago The Canettes Blues Band On Tap & In the Can 27 100 375849
Heavy Love The Canettes Blues Band On Tap & In the Can 28 100 253544
Cold Cold Feeling The Canettes Blues Band On Tap & In the Can 43 100 261929
Lonely Avenue The Canettes Blues Band On Tap & In the Can 24 100 292022
Good Morning Little Schoolgirl The Canettes Blues Band On Tap & In the Can 20 100 278648
Dust My Broom The Canettes Blues Band On Tap & In the Can 24 100 299311
Gimme' Some Lovin The Canettes Blues Band On Tap & In the Can 35 100 227239
Everybody Needs Somebody to Love The Canettes Blues Band On Tap & In the Can 24 100 195186
Black Magic Woman The Canettes Blues Band On Tap & In the Can 31 100 442644
Steppin' Rooster The Canettes Blues Band On Tap & In the Can 21 100 704862
Our Love is Drifting The Canettes Blues Band On Tap & In the Can 15 100 292649
Doin' 100 The Canettes Blues Band On Tap & In the Can 20 100 343980
Mother Joy Matt Ender Natural Wonders Music Sampler 1999 463 None 287294
Soldier's Lament Steve McDonald Natural Wonders Music Sampler 1999 371 None 347193
Dulaman Altan Natural Wonders Music Sampler 1999 403 None 223007
The Arrow Chris Spheeris Natural Wonders Music Sampler 1999 416 None 319869
Spanish Eyes La Esperanza Natural Wonders Music Sampler 1999 375 None 259030
Banana Bay Luis Villegas Natural Wonders Music Sampler 1999 403 None 198060
Aguas De Marco Rosa Passos Natural Wonders Music Sampler 1999 407 None 179408
Tamborea Energipsy Natural Wonders Music Sampler 1999 355 None 235389
Gone Hollie Smith Natural Wonders Music Sampler 1999 362 None 196414
The Immigrant Joanie Madden Natural Wonders Music Sampler 1999 350 None 362631
Pahrump-Big Water Cusco Natural Wonders Music Sampler 1999 342 None 191634
Seeker's Quest Cheryl Gunn Natural Wonders Music Sampler 1999 337 None 236434
Floating To Forever Dean Everson Natural Wonders Music Sampler 1999 337 None 351686
Open Road Jeff Bailey Relaxing Jazz 10 None 318563
Ruby Kaiser Chiefs Yours Truly, Angry Mob 13 None 205008
The Angry Mob Kaiser Chiefs Yours Truly, Angry Mob 41 None 288313
Heat Dies Down Kaiser Chiefs Yours Truly, Angry Mob 12 None 237061
Highroyds Kaiser Chiefs Yours Truly, Angry Mob 10 None 199575
Love's Not A Competition (But I'm Winning) Kaiser Chiefs Yours Truly, Angry Mob 11 None 197799
Thank You Very Much Kaiser Chiefs Yours Truly, Angry Mob 11 None 157753
I Can Do It Without You Kaiser Chiefs Yours Truly, Angry Mob 11 None 204199
My Kind Of Guy Kaiser Chiefs Yours Truly, Angry Mob 10 None 246595
Everything Is Average Nowadays Kaiser Chiefs Yours Truly, Angry Mob 16 None 164754
Learnt My Lesson Well Kaiser Chiefs Yours Truly, Angry Mob 9 None 325955
Try Your Best Kaiser Chiefs Yours Truly, Angry Mob 8 None 222511
Retirement Kaiser Chiefs Yours Truly, Angry Mob 10 None 237426
The Angry Mob [Live From Berlin] Kaiser Chiefs Yours Truly, Angry Mob 40 None 279066
I Like To Fight Kaiser Chiefs Yours Truly, Angry Mob 8 None 218566
From The Neck Down Kaiser Chiefs Yours Truly, Angry Mob 15 None 147226
Bomb Squad (TECH) Brent Brent's Album 4 None 208065

TypeError: 'NoneType' object is not subscriptable

In [2]:
#buliding roster data base
import json
import sqlite3

conn = sqlite3.connect('rosterdb.sqlite')
cur = conn.cursor()

# Do some setup
cur.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE
);

CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title  TEXT UNIQUE
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
)
''')

fname = input('Enter file name: ')
if len(fname) < 1:
    fname = 'roster_data_sample.json'

# [
#   [ "Charley", "si110", 1 ],
#   [ "Mea", "si110", 0 ],

str_data = open(fname).read()
json_data = json.loads(str_data)

for entry in json_data:

    name = entry[0];
    title = entry[1];
    role= entry[2];

    print((name, title))

    cur.execute('''INSERT OR IGNORE INTO User (name)
        VALUES ( ? )''', ( name, ) )
    cur.execute('SELECT id FROM User WHERE name = ? ', (name, ))
    user_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Course (title)
        VALUES ( ? )''', ( title, ) )
    cur.execute('SELECT id FROM Course WHERE title = ? ', (title, ))
    course_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Member
        (user_id, course_id,role) VALUES ( ?, ?, ?)''',
        ( user_id, course_id,role ) )

    conn.commit()

Enter file name: roster_data.json
('Luis', 'si110')
('Hubert', 'si110')
('Keatin', 'si110')
('Calen', 'si110')
('Tyja', 'si110')
('Charis', 'si110')
('Aryn', 'si110')
('Cambell', 'si110')
('Ocean', 'si110')
('Antony', 'si110')
('Saiorse', 'si110')
('Calvin', 'si110')
('Taliah', 'si110')
('Sahra', 'si110')
('Annagayle', 'si110')
('Eibhlin', 'si110')
('Jael', 'si110')
('Ioannis', 'si110')
('Didier', 'si110')
('Gurthar', 'si110')
('Kahlan', 'si110')
('Glenn', 'si110')
('Tighan', 'si110')
('Georgy', 'si110')
('Ambreen', 'si110')
('Kaidan', 'si110')
('Ryan', 'si110')
('Krzysztof', 'si110')
('Alan', 'si110')
('Skie', 'si110')
('Eden', 'si110')
('Sabriyah', 'si110')
('Lynsey', 'si110')
('Branden', 'si110')
('Xander', 'si110')
('Azaan', 'si110')
('Jak', 'si110')
('Daegan', 'si110')
('Lottie', 'si110')
('Jan', 'si110')
('Sara', 'si106')
('Jenny', 'si106')
('JJ', 'si106')
('Zena', 'si106')
('Cadon', 'si106')
('Polly', 'si106')
('Rianna', 'si106')
('Zhen', 'si106')
('Wylie', 'si106')
('Aamanee', 'si106')
('Zuzanna', 'si106')
('Edward', 'si106')
('Emily', 'si106')
('Cormak', 'si106')
('Lauryn', 'si106')
('Jorja', 'si106')
('Aisha', 'si106')
('Amrinder', 'si106')
('Bony', 'si106')
('Hussnain', 'si106')
('Morton', 'si106')
('Beinn', 'si106')
('Amolpreet', 'si106')
('Rosemary', 'si106')
('Devlin', 'si106')
('Kassey', 'si106')
('Craig', 'si106')
('Eduardo', 'si106')
('Cailaen', 'si106')
('Nafeesa', 'si106')
('Kaan', 'si106')
('Amalie', 'si106')
('Daud', 'si106')
('Talya', 'si106')
('Noor', 'si106')
('Calin', 'si206')
('Billy', 'si206')
('Derry', 'si206')
('Ifrah', 'si206')
('Carley', 'si206')
('Selasi', 'si206')
('Imaan', 'si206')
('Moshy', 'si206')
('Adrianna', 'si206')
('Gwendolyn', 'si206')
('Mehik', 'si206')
('Aphra', 'si206')
('Lida', 'si206')
('Madisen', 'si206')
('Hadiqa', 'si206')
('Bow', 'si206')
('Kirsten', 'si206')
('Kristina', 'si206')
('Denon', 'si206')
('Suzie', 'si206')
('Ammer', 'si301')
('Ahtasham', 'si301')
('Rylan', 'si301')
('Carolanne', 'si301')
('Melandra', 'si301')
('Kimberley', 'si301')
('Maggi', 'si301')
('Tylor', 'si301')
('Etiene', 'si301')
('Micall', 'si301')
('Sulayman', 'si301')
('Kaydn', 'si301')
('Jay', 'si301')
('Arafat', 'si301')
('Dawud', 'si301')
('Lula', 'si301')
('Otto', 'si301')
('Anja', 'si301')
('Vasemaca', 'si301')
('Koni', 'si301')
('Cirah', 'si301')
('Alyth', 'si301')
('Eisha', 'si301')
('Laaibah', 'si301')
('Dennan', 'si301')
('Mishkat', 'si301')
('Harvie', 'si301')
('Jenny', 'si301')
('Ashley', 'si301')
('Brogan', 'si301')
('Daegan', 'si301')
('Hena', 'si301')
('Yasir', 'si301')
('Aleeshmah', 'si301')
('Komal', 'si301')
('Calin', 'si301')
('Cadon', 'si301')
('Carley', 'si301')
('Arturo', 'si301')
('Prince', 'si301')
('Teyyibah', 'si301')
('Tasia', 'si301')
('Rayne', 'si301')
('Hareem', 'si310')
('Arun', 'si310')
('Kaylie', 'si310')
('Rosa', 'si310')
('Kenzeigh', 'si310')
('Kimi', 'si310')
('Micaila', 'si310')
('Meisha', 'si310')
('Maliha', 'si310')
('Ramanas', 'si310')
('Indy', 'si310')
('Sajid', 'si310')
('Shreyas', 'si310')
('Maeghan', 'si310')
('Fearne', 'si310')
('Presley', 'si310')
('Abhy', 'si310')
('Elvin', 'si310')
('Denzel', 'si310')
('Mantej', 'si310')
('Dominika', 'si310')
('Nour', 'si310')
('Melania', 'si310')
('Kassia', 'si310')
('Simran', 'si310')
('Lucais', 'si310')
('Fauve', 'si310')
('Louanne', 'si310')
('Martine', 'si310')
('Maddison', 'si310')
('Sarahjane', 'si310')
('Cosmo', 'si334')
('Maighdlin', 'si334')
('Jia', 'si334')
('Donna', 'si334')
('Muhsin', 'si334')
('Rhyley', 'si334')
('Blair', 'si334')
('Jacques', 'si334')
('Conlin', 'si334')
('Rosalie', 'si334')
('Hector', 'si334')
('Gabriella', 'si334')
('Lauren', 'si334')
('Dominik', 'si334')
('Moya', 'si334')
('Jabin', 'si334')
('Casie', 'si334')
('Eaden', 'si334')
('Haillie', 'si334')
('Baillie', 'si334')
('Sidonie', 'si334')
('Alaa', 'si334')
('Bramble', 'si334')
('Awais', 'si334')
('Dana', 'si334')
('Tate', 'si334')
('Mea', 'si334')
('Calum', 'si334')
('Joeddy', 'si334')
('Sudais', 'si334')
('Kaidey', 'si334')
('Howie', 'si334')
('Sienna', 'si334')
('Al', 'si334')
('Thierry', 'si334')
('Isaac', 'si334')
('Veronica', 'si334')
('Neela', 'si334')
('Diane', 'si334')
('Arya', 'si334')
('Harri', 'si334')
('Phani', 'si363')
('Maude', 'si363')
('Shreya', 'si363')
('Arrham', 'si363')
('Rossi', 'si363')
('Leighanna', 'si363')
('Kriss', 'si363')
('Kathleen', 'si363')
('Calla', 'si363')
('Eirin', 'si363')
('Maria', 'si363')
('Lauryn', 'si363')
('Navdeep', 'si363')
('Kenzie', 'si363')
('McLay', 'si363')
('Murray', 'si363')
('Gurardass', 'si363')
('Oluwatosin', 'si363')
('Nola', 'si363')
('Priscillia', 'si363')
('Eryn', 'si363')
('Cirah', 'si363')
('Naomi', 'si363')
('Kay', 'si363')
('Elyce', 'si363')
('Michela', 'si363')
('Alanna', 'si363')
('Rhiannin', 'si363')
('Ruaidhri', 'si363')
('Marcelina', 'si363')
('Elyana', 'si363')
('Karthikeya', 'si363')
('Alighia', 'si363')
('Leone', 'si363')
('Baxter', 'si363')
('Aaminah', 'si363')
('Ellelouise', 'si363')
('Sicilija', 'si363')
('Zenab', 'si363')
('Willow', 'si363')
('Ediomi', 'si363')
('Kaileigh', 'si363')
('Kia', 'si363')
('Alexa', 'si363')
('Aylie', 'si363')
('Alysia', 'si363')
('Bobbie', 'si363')
('Honeyjac', 'si363')
('Colby', 'si363')
('Nuriyah', 'si363')
('Murry', 'si363')
('Mhari', 'si363')
('Shalanna', 'si364')
('Savanah', 'si364')
('Issiaka', 'si364')
('Sohan', 'si364')
('Hollie', 'si364')
('Vincent', 'si364')
('Aaryn', 'si364')
('Rachna', 'si364')
('Samanthalee', 'si364')
('Sofiane', 'si364')
('Limo', 'si364')
('Lewie', 'si364')
('Cree', 'si364')
('Oluwadamiloju', 'si364')
('Hamad', 'si364')
('Ebow', 'si364')
('Karson', 'si364')
('Mohaddesa', 'si364')
('Abhisumant', 'si364')
('Lennix', 'si364')
('Roan', 'si364')
('Iagan', 'si364')
('Mohanad', 'si364')
('Hong', 'si364')
('Makaila', 'si364')
('Kieara', 'si364')
('Courtney', 'si364')
('Sanjay', 'si364')
('Keison', 'si364')
('Valerie', 'si364')
('Elen', 'si364')
('Liberty', 'si364')
('Loulou', 'si364')
('Leilani', 'si364')
('Maliha', 'si364')
('Kelsey', 'si364')
('Katelyne', 'si364')
('Zaina', 'si364')
('Calen', 'si364')
('Dailey', 'si364')
('Anthony', 'si364')
('Dex', 'si364')
('Cormack', 'si364')
('Sheigh', 'si364')
('Melody', 'si364')
('Lyall', 'si364')
('Aldred', 'si364')
('Grant', 'si364')
('Cherelle', 'si364')
('Wen', 'si422')
('Waqaas', 'si422')
('Rhyley', 'si422')
('Max', 'si422')
('Mitch', 'si422')
('Deshawn', 'si422')
('Grayson', 'si422')
('Noel', 'si422')
('Keemaya', 'si422')
('Diarmuid', 'si422')
('Damaris', 'si422')
('Inan', 'si422')
('Satveer', 'si422')
('Mykie', 'si422')
('Marcous', 'si422')
('Inga', 'si422')
('Anna', 'si422')
('Gustav', 'si422')
('Kacee', 'si430')
('Innes', 'si430')
('Darragh', 'si430')
('Jomuel', 'si430')
('Alekzander', 'si430')
('Keegan', 'si430')
('Brendon', 'si430')
('Sorrel', 'si430')
('Belle', 'si430')
('Jardine', 'si430')
('Claudia', 'si430')
('Nana', 'si430')
('Han', 'si430')
('Halyda', 'si430')
('Ayan', 'si430')
('Chiamaka', 'si430')
('Nikola', 'si430')
('Koray', 'si430')
('Ehsan', 'si430')
('Hibah', 'si430')
('Keiron', 'si430')
('Precious', 'si430')
('Joy', 'si430')
('Kenadie', 'si430')
('Chara', 'si430')
('Coran', 'si430')
('Caralee', 'si430')
('Aurlah', 'si430')

In [2]:
#edit the where data to add a new address and show it in the output
import urllib.request, urllib.parse, urllib.error
import http
import sqlite3
import json
import time
import ssl
import sys

api_key = False
# If you have a Google Places API key, enter it here
# api_key = 'AIzaSy___IDByT70'

if api_key is False:
    api_key = 42
    serviceurl = "http://py4e-data.dr-chuck.net/json?"
else :
    serviceurl = "https://maps.googleapis.com/maps/api/geocode/json?"

# Additional detail for urllib
# http.client.HTTPConnection.debuglevel = 1

conn = sqlite3.connect('geodata.sqlite')
cur = conn.cursor()

cur.execute('''
CREATE TABLE IF NOT EXISTS Locations (address TEXT, geodata TEXT)''')

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

fh = open("where.data")
count = 0
for line in fh:
    if count > 200 :
        print('Retrieved 200 locations, restart to retrieve more')
        break

    address = line.strip()
    print('')
    cur.execute("SELECT geodata FROM Locations WHERE address= ?",
        (memoryview(address.encode()), ))

    try:
        data = cur.fetchone()[0]
        print("Found in database ",address)
        continue
    except:
        pass

    parms = dict()
    parms["address"] = address
    if api_key is not False: parms['key'] = api_key
    url = serviceurl + urllib.parse.urlencode(parms)

    print('Retrieving', url)
    uh = urllib.request.urlopen(url, context=ctx)
    data = uh.read().decode()
    print('Retrieved', len(data), 'characters', data[:20].replace('\n', ' '))
    count = count + 1

    try:
        js = json.loads(data)
    except:
        print(data)  # We print in case unicode causes an error
        continue

    if 'status' not in js or (js['status'] != 'OK' and js['status'] != 'ZERO_RESULTS') :
        print('==== Failure To Retrieve ====')
        print(data)
        break

    cur.execute('''INSERT INTO Locations (address, geodata)
            VALUES ( ?, ? )''', (memoryview(address.encode()), memoryview(data.encode()) ) )
    conn.commit()
    if count % 10 == 0 :
        print('Pausing for a bit...')
        time.sleep(5)

print("Run geodump.py to read the data from the database so you can vizualize it on a map.")

Found in database  AGH University of Science and Technology

Found in database  Academy of Fine Arts Warsaw Poland

Found in database  American University in Cairo

Found in database  Arizona State University

Found in database  Athens Information Technology

Found in database  BITS Pilani

Found in database  Babcock University

Found in database  Banaras Hindu University

Found in database  Bangalore University

Found in database  Baylor University

Found in database  Beijing normal university

Found in database  Belarusian State University

Found in database  Belgrade University

Found in database  Beloit College

Found in database  Belorussian State University

Found in database  Ben Gurion University

Found in database  Bharthidasan University

Found in database  Boston University

Found in database  California Polytechnic State University of San Luis Obispo

Found in database  California State University San Bernardino

Found in database  City of Westminster College

Found in database  Columbia University

Found in database  Cranfield University

Found in database  Czech Technical University in Prague

Found in database  Dartmouth

Found in database  De Anza College

Found in database  Distant University of Hagen

Found in database  Dnipropetrovsk National University

Found in database  Dokuz Eylul University

Found in database  Drexel

Found in database  Drexel University and University of Texas at Austin

Found in database  Duke University

Found in database  EM Lyon

Found in database  Ecole centrale de PARIS

Found in database  Elon University

Found in database  Erhvervsakademi Sydvest

Found in database  Escuela Superior Politecnica del Litoral

Found in database  Fachhochschule Dusseldorf

Found in database  Fachhochschule FH Salzburg

Found in database  Faculdade de Tecnologia do Estado de Sao Paulo

Found in database  Faculty of Technical Sciences Novi Sad Serbia

Found in database  Farmingdale State University

Found in database  Federal University of Minas Gerais

Found in database  Florida Atlantic University

Found in database  Franklin Pierce College

Found in database  Gauhati University

Found in database  George Mason University

Found in database  Georgetown University Law Center

Found in database  Georgia State University

Found in database  Grandville

Found in database  Groep T University

Found in database  Hanoi University of Science and Technology

Found in database  Hebrew University

Found in database  IIIT Hyderabad

Found in database  IIT KANPUR

Found in database  IT College of Estonia

Found in database  IU

Found in database  IUAV Venezia

Found in database  Illinois Institute of Technology

Found in database  Illinois State University Joliet Junior College

Found in database  Indian Institute of Technology

Found in database  Indian Institute of Technology Kharagpur India

Found in database  Indian School of Mines Dhanbad

Found in database  Indiana University

Found in database  Indiana University at Bloomington

Found in database  Institut Superieur de technologies

Found in database  Institute of Business and Modern Technologies

Found in database  Instituto Tecnologico de Santo Domingo

Found in database  International Institute of Information Technology Hyderabad

Found in database  Irkutsk State University

Found in database  JADAVPUR UNIVERSITY

Found in database  Jawaharlal Nehru Technological University

Found in database  Jawaharlal Nehru University

Found in database  Jordan University of Science and Technology

Found in database  K-State

Found in database  KUL

Found in database  Kalamazoo College

Found in database  Kaunas Technology University

Found in database  Kaunas university of technology

Found in database  Kazan Federal University

Found in database  Kent State University

Found in database  Kharkiv State Academy of Municipal Economy Ukraine

Found in database  King Mongkuts University of Technology Thonburi

Found in database  Kokshetau Institute of Economics and Management

Found in database  Kyiv Polytechnic Institute

Found in database  Kyiv Polytechnical Institute

Found in database  Kyiv Unisersity of Oriental Language

Found in database  Laurentian University

Found in database  Lisandro Alvarado

Found in database  Lodz University of Technology

Found in database  Lviv University

Found in database  MSU

Found in database  Madras university

Found in database  Magnitogorsk State Technical University

Found in database  Malayer Azad University

Found in database  Marietta College

Found in database  Masdar Institute

Found in database  Matematicki fakultet Beograd

Found in database  Michigan State University

Found in database  Middle East Technical University

Found in database  Missouri University of Science and Technology

Found in database  Monash

Found in database  Monash University

Found in database  Monash University Churchill Australia

Found in database  Monterrey Institute of Technology and Higher Education

Found in database  Moscow Engineering-Physics Institute

Found in database  Moscow Institute of Physics & Technology

Found in database  Moscow State University

Found in database  NIT ROURKELA

Found in database  NYU

Found in database  Nagpur University

Found in database  Nanyang Technological University

Found in database  National Institute of Technology Jalandhar

Found in database  National Taiwan University

Found in database  National University of Engineering

Found in database  North Central College

Found in database  Northeastern University

Found in database  Northwestern University

Found in database  Obninsk Technical University of Nuclear Power Engineering Russia

Found in database  Old Dominion University

Found in database  Oregon Institute of Technology

Found in database  PUCMM

Found in database  Payame Noor University

Found in database  Penn State University

Found in database  Politecnico di Milano

Found in database  Politehnica University Bucharest

Found in database  Polytechnic University of Timisoara

Found in database  Pondicherry University

Found in database  Pontificia universidad catolica de chile

Found in database  Portland State University

Found in database  Purdue University Indianapolis

Found in database  R V College of Engineering

Found in database  RPI

Found in database  Ramapo College of New Jersey

Found in database  Rochester Institute of Technology

Found in database  SASTRA University

Found in database  Saint Petersburg State University

Found in database  Saint Petersburg State University of Aerospace Instrumentation

Found in database  Saint-Petersburg Polytechnic Univesity

Found in database  San Francisco State University

Found in database  San Jose State University

Found in database  Shanghai Jiao Tong University

Found in database  Sharif University of Technology

Found in database  Simon Bolivar University

Found in database  Simon Fraser University

Found in database  Smolensk State University

Found in database  Sonoma State University

Found in database  South Federal University

Found in database  Spiru Haret University

Found in database  Stanford

Found in database  State University of Campinas

Found in database  State University of New York College at Oswego

Found in database  Stellenbosch University

Found in database  Stonehill College

Found in database  Tallinn University

Found in database  Tallinn University of Technology

Found in database  Tampere University of Technology

Found in database  Tanta University

Found in database  Tarrant County College

Found in database  Technical University of Cluj-Napoca

Found in database  Technion

Found in database  Tel Aviv University

Found in database  The Jerusalem collage of engineering

Found in database  The University of Latvia

Found in database  The University of Manchester

Found in database  The University of South Africa

Found in database  Transilvania University

Found in database  Tufts University

Found in database  UC Berkeley

Found in database  UCLA

Found in database  UCSD

Found in database  UIUC

Found in database  UMD

Found in database  UNISA

Found in database  UNIVERSIDAD DE Buenos Aires

Found in database  UOC

Found in database  USC

Found in database  UW Madison

Found in database  Universidad Central de Venezuela

Found in database  Universidad Complutense de Madrid

Found in database  Universidad Cooperativa de Colombia

Found in database  Universidad Nacional Autonoma de Mexico

Found in database  Universidad Nacional Costa Rica

Found in database  Universidad Nacional de Colombia

Found in database  Universidad Tecnologica Boliviana

Found in database  Universidad de Buenos Aires

Found in database  Universidad de Castilla La Mancha

Found in database  Universidad de Los Andes Colombia

Found in database  Universidad de Oriente

Found in database  Universidad de San Carlos de Guatemala

Found in database  Universidad de Valladolid

Found in database  Universidad de la Sabana

Found in database  Universidad del Valle de Guatemala

Found in database  Universidade Federal da Paraiba

Found in database  Universidade Federal de Santa Catarina

Found in database  Universidade Federal do Rio Grande do Sul

Found in database  Universidade Federal do Rio de Janeiro

Found in database  Universidade Tecnica de Lisboa

Found in database  Universidade de Sao Paulo

Found in database  Universidade do Minho

Found in database  Universitas Gadjah Mada

Found in database  Universitat Politecnica de Valencia

Found in database  Universite Catholique de Louvain

Found in database  University College Dublin

Found in database  University Munich

Found in database  University of Akron

Found in database  University of Alberta

Found in database  University of Amsterdam

Found in database  University of Arkansas

Found in database  University of Athens

Found in database  University of Belgrade

Found in database  University of Birmingham

Found in database  University of Buenos Aires

Found in database  University of Cambridge

Found in database  University of Central Oklahoma

Found in database  University of Chicago

Found in database  University of Cincinnati

Found in database  University of Colorado at Boulder

Found in database  University of Connecticut

Found in database  University of Dallas

Found in database  University of Debrecen

Found in database  University of Delaware

Found in database  University of Erlangen-Nuremberg

Found in database  University of Essex

Found in database  University of Evora

Found in database  University of Florida

Found in database  University of Gothenburg

Found in database  University of Greifswald

Found in database  University of Hamburg

Found in database  University of Hawaii

Found in database  University of Helsinki

Found in database  University of Ilorin Kwara State

Found in database  University of Jaffna

Found in database  University of Kansas

Found in database  University of Kerala

Found in database  University of London

Found in database  University of Malaga

Found in database  University of Malaya

Found in database  University of Manchester

Found in database  University of Michigan

Found in database  University of Missouri - Columbia

Found in database  University of Moratuwa

Found in database  University of Mumbai

Found in database  University of Nebraska

Found in database  University of Nebraska - Lincoln

Found in database  University of New Haven

Found in database  University of New South Wales

Found in database  University of Notre Dame

Found in database  University of Oklahoma

Found in database  University of Ottawa

Found in database  University of Oxford

Found in database  University of Padua

Found in database  University of Pavia Italy

Found in database  University of Pennsylvania

Found in database  University of Piraeus Athens

Found in database  University of Pretoria

Found in database  University of Salamanca

Found in database  University of Sao Paulo

Found in database  University of Sarajevo

Found in database  University of Southern California

Found in database  University of Stellenbosch

Found in database  University of Tartu

Found in database  University of Tehran

Found in database  University of Texas

Found in database  University of Texas at Austin

Found in database  University of Toronto

Found in database  University of Tuebingen

Found in database  University of Twente

Found in database  University of Utah

Found in database  University of Vienna

Found in database  University of Warsaw

Found in database  University of Washington

Found in database  University of Washington - Bothell

Found in database  University of Waterloo

Found in database  University of West Florida

Found in database  University of Wisconsin

Found in database  University of the Punjab Lahore

Found in database  University of the Witwatersrand

Found in database  Vilnius Gediminas Technical University

Found in database  Vilnius University

Found in database  Virginia Commonwealth University

Found in database  Virginia Tech

Found in database  Viswakarma Institute Pune India

Found in database  Warsaw University

Found in database  Washington State University

Found in database  Wayne State

Found in database  Weber State

Found in database  Weizmann Institute of Science

Found in database  Western Governors University

Found in database  Xavier University

Found in database  Zagazig University

Found in database  allama iqbal open university islamabad

Found in database  arizona state university

Found in database  federal institute of tecnology and education from southeastern Minas Gerais

Found in database  kansas state university

Found in database  universidad complutense de madrid

Found in database  university of Patras

Found in database  university of padua

Found in database  university of Paris
Run geodump.py to read the data from the database so you can vizualize it on a map.

In [3]:
import sqlite3
import json
import codecs

conn = sqlite3.connect('geodata.sqlite')
cur = conn.cursor()

cur.execute('SELECT * FROM Locations')
fhand = codecs.open('where.js', 'w', "utf-8")
fhand.write("myData = [\n")
count = 0
for row in cur :
    data = str(row[1].decode())
    try: js = json.loads(str(data))
    except: continue

    if not('status' in js and js['status'] == 'OK') : continue

    lat = js["results"][0]["geometry"]["location"]["lat"]
    lng = js["results"][0]["geometry"]["location"]["lng"]
    if lat == 0 or lng == 0 : continue
    where = js['results'][0]['formatted_address']
    where = where.replace("'", "")
    try :
        print(where, lat, lng)

        count = count + 1
        if count > 1 : fhand.write(",\n")
        output = "["+str(lat)+","+str(lng)+", '"+where+"']"
        fhand.write(output)
    except:
        continue

fhand.write("\n];\n")
cur.close()
fhand.close()
print(count, "records written to where.js")
print("Open where.html to view the data in a browser")

aleja Adama Mickiewicza 30, 30-059 Kraków, Poland 50.06688579999999 19.9136192
Krakowskie Przedmieście 5, 00-068 Warszawa, Poland 52.2394019 21.0150792
AUC Avenue، Road، First New Cairo, Cairo Governorate 11835, Egypt 30.018923 31.499674
411 N Central Ave, Phoenix, AZ 85004, USA 33.5074106 -112.0650182
2500 Daniells Bridge Rd #300, Athens, GA 30606, USA 33.9094132 -83.4603953
Vidya Vihar, Pilani, Rajasthan 333031, India 28.3588163 75.58802039999999
Ilishan-Remo, Nigeria 6.8939569 3.7187158
Ajagara, Varanasi, Uttar Pradesh 221005, India 25.2677203 82.99125819999999
Mysore Rd, Jnana Bharathi, Bengaluru, Karnataka 560056, India 12.9503878 77.5022224
1311 S 5th St, Waco, TX 76706, USA 31.5469132 -97.1210998
19 Xinjiekou Outer St, Bei Tai Ping Zhuang, Haidian Qu, Beijing Shi, China, 100875 39.9619537 116.3662615
praspiekt Niezaliežnasci 4, Minsk, Belarus 53.8938988 27.5460609
Studentski trg 1, Beograd, Serbia 44.8184518 20.4575913
700 College St, Beloit, WI 53511, USA 42.5030333 -89.0309048
praspiekt Niezaliežnasci 4, Minsk, Belarus 53.8938988 27.5460609
שד בן-גוריון 1, באר שבע, Israel 31.262218 34.801461
Palkalaiperur, Tiruchirappalli, Tamil Nadu 620024, India 10.6779085 78.74454879999999
Boston, MA 02215, USA 42.3504997 -71.1053991
San Luis Obispo, CA 93407, USA 35.3050053 -120.6624942
5500 University Pkwy, San Bernardino, CA 92407, USA 34.1817955 -117.3237219
25 Paddington Green, London W2 1NB, UK 51.5210038 -0.1746353
New York, NY 10027, USA 40.8075355 -73.9625727
College Rd, Cranfield, Wharley End, Bedford MK43 0AL, UK 52.0746136 -0.6282833
166 36 Prague 6, Czechia 50.1030364 14.3912841
Hanover, NH 03755, USA 43.7044406 -72.2886935
21250 Stevens Creek Blvd, Cupertino, CA 95014, USA 37.3206678 -122.0454878
Universitätsstraße 47, 58097 Hagen, Germany 51.3774422 7.493855399999999
Haharina Ave, 72, Dnipropetrovsk, Dnipropetrovska oblast, Ukraine, 49000 48.4331922 35.0427966
No: 144 35210, Alsancak, Cumhuriyet Blv, 35220 Konak/İzmir, Turkey 38.430691 27.13692
3141 Chestnut St, Philadelphia, PA 19104, USA 39.9566127 -75.18994409999999
Austin, TX 78712, USA 30.2849185 -97.7340567
Durham, NC 27708, USA 36.0014258 -78.9382286
23 Avenue Guy de Collongue, 69130 Écully, France 45.7864448 4.7641329
CentraleSupélec, 3 Rue Joliot Curie, 91190 Gif-sur-Yvette, France 48.7087594 2.1640062
50 Campus Drive, Elon, NC 27244, USA 36.1026877 -79.5023313
Spangsbjerg Kirkevej 103, 6700 Esbjerg, Denmark 55.48843069999999 8.4467103
Vía Perimetral 5, Guayaquil, Ecuador -2.1481458 -79.9644885
Münsterstraße 156, 40476 Düsseldorf, Germany 51.2468622 6.791686899999999
Urstein Süd 1, 5412 Puch bei Hallein, Austria 47.7233835 13.0871253
R. Piacabucu, 1-77,São Bernardo do Campo - SP FATEC "Adib Moisés Dib" - Av. Pereira Barreto, 400 Centro - São Bernardo do Campo - SP - CEP 09751-000 - Centro, São Bernardo do Campo - SP, 09751-000, Brazil -23.6957757 -46.5461118
Trg Dositeja Obradovića 6, Novi Sad 106314, Serbia 45.2461012 19.8516968
2350 NY-110, Farmingdale, NY 11735, USA 40.7529512 -73.4267093
Av. Pres. Antônio Carlos, 6627 - Pampulha, Belo Horizonte - MG, 31270-901, Brazil -19.870682 -43.9677359
777 Glades Rd, Boca Raton, FL 33431, USA 26.3749876 -80.10106329999999
40 University Dr, Rindge, NH 03461, USA 42.7789743 -72.05553929999999
Jalukbari, Guwahati, Assam 781014, India 26.1543199 91.66316789999999
4400 University Dr, Fairfax, VA 22030, USA 38.8298118 -77.3073606
600 New Jersey Ave NW, Washington, DC 20001, USA 38.8977953 -77.0129087
Atlanta, GA 30302, USA 33.753068 -84.38528190000001
Grandville, MI, USA 42.9097484 -85.7630885
Andreas Vesaliusstraat 13, 3000 Leuven, Belgium 50.8748769 4.7077753
1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội, Vietnam 21.0048067 105.8453406
Jerusalem 31.7945578 35.2414009
Professor CR Rao Rd, Gachibowli, Hyderabad, Telangana 500032, India 17.4448019 78.3497604
Kalyanpur, Kanpur, Uttar Pradesh 208016, India 26.5123388 80.2329
Raja 4, 12616 Tallinn, Estonia 59.3954769 24.6643815
107 S Indiana Ave, Bloomington, IN 47405, USA 39.1754487 -86.512627
Santa Croce, 191, 30135 Venezia VE, Italy 45.4377574 12.3223297
10 W 35th St, Chicago, IL 60616, USA 41.8348731 -87.6270059
100 N University St, Normal, IL 61761, USA 40.5120479 -88.9931683
IIT Campus, Hauz Khas, New Delhi, Delhi 110016, India 28.5449756 77.19262839999999
Kharagpur, West Bengal 721302, India 22.3149274 87.31053109999999
Police Line Road, Main Campus IIT (ISM, IIT (ISM, Hirapur, Sardar Patel Nagar, Dhanbad, Jharkhand 826004, India 23.8143819 86.44120219999999
107 S Indiana Ave, Bloomington, IN 47405, USA 39.1754487 -86.512627
107 S Indiana Ave, Bloomington, IN 47405, USA 39.1754487 -86.512627
Hamdalaye, Ouagadougou, Burkina Faso 12.3779749 -1.5470898
2400 Walsh Ave, Santa Clara, CA 95051, USA 37.3686167 -121.9695133
Av. de Los Próceres 49, Santo Domingo 10602, Dominican Republic 18.487876 -69.96229199999999
Professor CR Rao Rd, Gachibowli, Hyderabad, Telangana 500032, India 17.4448019 78.3497604
Karl Marx St, 1, Irkutsk, Irkutskaya oblast, Russia, 664003 52.2766643 104.2777445
188, Raja Subodh Chandra Mallick Rd, Jadavpur University Campus Area, Jadavpur, Kolkata, West Bengal 700032, India 22.4972777 88.37142779999999
Ashok Nagar, Kukatpally Housing Board Colony, Kukatpally, Hyderabad, Telangana 500085, India 17.4932682 78.3913929
New Mehrauli Road, JNU Ring Rd, New Delhi, Delhi 110067, India 28.5402232 77.1662154
Ar Ramtha 3030، Ar-Ramtha, Jordan 32.4950392 35.9912257
Manhattan, KS 66506, USA 39.1974437 -96.5847249
8800 F St, Omaha, NE 68127, USA 41.2205528 -96.0502309
1200 Academy St, Kalamazoo, MI 49006, USA 42.290035 -85.598145
K. Donelaičio g. 73, Kaunas 44249, Lithuania 54.898991 23.912825
K. Donelaičio g. 73, Kaunas 44249, Lithuania 54.898991 23.912825
Kremlyovskaya St, 18, Kazan, Respublika Tatarstan, Russia, 420008 55.790447 49.1214349
800 E Summit St, Kent, OH 44240, USA 41.1455594 -81.33928829999999
Marshala Bazhanova St, 17, Kharkiv, Kharkivska oblast, Ukraine, 61000 49.9958165 36.241777
126 Pracha Uthit Rd, Khwaeng Bang Mot, Khet Thung Khru, Krung Thep Maha Nakhon 10140, Thailand 13.6493767 100.4928565
Kokshetau 020000, Kazakhstan 53.2871307 69.40444939999999
Peremohy Ave, 37, Kyiv, Ukraine, 03056 50.4491699 30.4561487
Peremohy Ave, 37, Kyiv, Ukraine, 03056 50.4491699 30.4561487
Volodymyrska St, 60, Kyiv, Ukraine, 01033 50.4420868 30.5104023
935 Ramsey Lake Rd, Sudbury, ON P3E 2C6, Canada 46.4667708 -80.9742332
Stefana Żeromskiego 116, 90-924 Łódź, Poland 51.7537146 19.4517176
Universytetska St, 1, Lviv, Lvivska oblast, Ukraine, 79000 49.8406108 24.0225099
Michigan, USA 42.701848 -84.4821719
Navalar Nagar, Chepauk, Triplicane, Chennai, Tamil Nadu 600005, India 13.0660293 80.28317190000001
Prospekt Lenina, 38, Magnitogorsk, Chelyabinskaya oblast, Russia, 455000 53.4222397 58.9824868
Hamadan Province, Malayer, University Blvd, Iran 34.304073 48.8452846
215 5th St, Marietta, OH 45750, USA 39.41665649999999 -81.44993509999999
Near Home WTC AUH, Airport Road - Masdar City - Khalifa City - Abu Dhabi - United Arab Emirates 24.4330231 54.619113
Studentski trg 16, Beograd 105104, Serbia 44.8199188 20.4587075
Michigan, USA 42.701848 -84.4821719
Üniversiteler, Dumlupinar Bulvari 1/6-133, 06800 Çankaya/Ankara, Turkey 39.88983820000001 32.780086
106, Parker Hall, 300 W 13th St, Rolla, MO 65409, USA 37.9537078 -91.7756271
Wellington Rd, Clayton VIC 3800, Australia -37.9105599 145.1362485
Wellington Rd, Clayton VIC 3800, Australia -37.9105599 145.1362485
Northways Rd, Churchill VIC 3842, Australia -38.311211 146.429409
Av. Eugenio Garza Sada 2501 Sur, Tecnológico, 64849 Monterrey, N.L., Mexico 25.6515649 -100.28954
Kashira Hwy, 31, Moskva, Russia, 115409 55.6502051 37.6643098
Institutskiy Pereulok, 9, Dolgoprudny, Moskovskaya oblast, Russia, 141701 55.9297243 37.5199434
ul. Leninskiye Gory, 1, Moskva, Russia, 119991 55.70393490000001 37.5286696
jindal colony, Bisra Rd, National Institute of Technology, Udit Nagar, Rourkela, Odisha 769001, India 22.2533781 84.9012363
New York, NY 10003, USA 40.72951339999999 -73.9964609
Amravati Rd, Ram Nagar, Nagpur, Maharashtra 440033, India 21.1468555 79.050062
50 Nanyang Ave, Singapore 639798 1.3483099 103.6831347
Grand Trunk Road, Barnala - Amritsar Bypass Rd, Jalandhar, Punjab 144011, India 31.395929 75.535856
No. 1, Section 4, Roosevelt Rd, Da’an District, Taipei City, Taiwan 10617 25.0173405 121.5397518
Av. Tupac Amaru 210, Cercado de Lima 15333, Peru -12.0231787 -77.04763009999999
30 N Brainard St, Naperville, IL 60540, USA 41.772663 -88.1440142
360 Huntington Ave, Boston, MA 02115, USA 42.3398067 -71.0891717
633 Clark St, Evanston, IL 60208, USA 42.0564594 -87.67526699999999
Студенческий городок, 1, Obninsk, Kaluzhskaya oblast, Russia, 249034 55.1372019 36.6064735
5115 Hampton Blvd, Norfolk, VA 23529, USA 36.8858594 -76.3057051
3201 Campus Dr, Klamath Falls, OR 97601, USA 42.2573474 -121.7849109
Autopista Duarte Km 1 1/2, Santiago De Los Caballeros 51000, Dominican Republic 19.4436005 -70.6843785
Tehran Province, Tehran, اتوبان ارتش کوی نفت, Nakhl St, Iran 35.8012314 51.5028533
State College, PA 16801, USA 40.7982133 -77.8599084
Piazza Leonardo da Vinci, 32, 20133 Milano MI, Italy 45.4784315 9.228342399999999
Splaiul Independenței 313, București 060042, Romania 44.4386064 26.0494925
Piața Victoriei 2, Timișoara 300006, Romania 45.7536393 21.2251615
Pondicherry University, Chinna Kalapet, Kalapet, Puducherry 605014, India 12.0182619 79.8568461
Av Libertador Bernardo OHiggins 340, Santiago, Región Metropolitana, Chile -33.44180680000001 -70.6399544
1825 SW Broadway, Portland, OR 97201, USA 45.5111471 -122.6834235
420 University Blvd, Indianapolis, IN 46202, USA 39.7743174 -86.1764194
Mysore Rd, RV Vidyaniketan, Post, Bengaluru, Karnataka 560059, India 12.9237228 77.4987012
110 8th St, Troy, NY 12180, USA 42.7297628 -73.67888839999999
505 Ramapo Valley Rd, Mahwah, NJ 07430, USA 41.0819323 -74.1758157
1 Lomb Memorial Dr, Rochester, NY 14623, USA 43.0844955 -77.6749311
Trichy-Tanjore Road, Thirumalaisamudram, Thanjavur, Tamil Nadu 613401, India 10.7285131 79.0184111
University Embankment, 7/9, Sankt-Peterburg, Russia, 199034 59.941894 30.2989199
Bolshaya Morskaya Ulitsa, 67, Sankt-Peterburg, Russia, 190000 59.929491 30.2966081
Politekhnicheskaya Ulitsa, 29, Sankt-Peterburg, Russia, 195251 60.0076235 30.3731954
1600 Holloway Ave, San Francisco, CA 94132, USA 37.7241492 -122.4799405
1 Washington Sq, San Jose, CA 95192, USA 37.3351874 -121.8810715
China, Shanghai Shi, Minhang Qu, 东川路 邮政编码: 200240 31.0252201 121.4337784
Tehran, خیابان آزادی، تهران بزرگ،، Iran 35.703605 51.35153099999999
Sartenejas, Caracas, Miranda, Venezuela 10.408363 -66.8755735
8888 University Dr, Burnaby, BC V5A 1S6, Canada 49.2780937 -122.9198833
Ulitsa Przhevalskogo, 4, Smolensk, Smolenskaya oblast, Russia, 214000 54.7845032 32.0452469
1801 E Cotati Ave, Rohnert Park, CA 94928, USA 38.3395854 -122.6743811
103 Hillcrest Rd, Mobile, AL 36608, USA 30.688114 -88.19016219999999
Strada Ion Ghica 13, București 030045, Romania 44.4332166 26.1009718
450 Serra Mall, Stanford, CA 94305, USA 37.4274745 -122.169719
Cidade Universitária Zeferino Vaz - Barão Geraldo, Campinas - SP, 13083-970, Brazil -22.8184393 -47.0647206
7060 NY-104, Oswego, NY 13126, USA 43.45139280000001 -76.5425285
Stellenbosch Central, Stellenbosch, South Africa -33.9328078 18.864447
320 Washington St, North Easton, MA 02357, USA 42.0590153 -71.0806276
Narva maantee 25, 10120 Tallinn, Estonia 59.4387321 24.7713836
Ehitajate tee 5, 12616 Tallinn, Estonia 59.3959451 24.6710596
Korkeakoulunkatu 7 Kampusareena, 33720 Tampere, Finland 61.4498286 23.8589986
El-Gaish, Tanta Qism 2, Tanta, Gharbia Governorate, Egypt 30.7924391 30.9991409
1500 Houston St, Fort Worth, TX 76102, USA 32.7474661 -97.3278753
Strada Memorandumului 28, Cluj-Napoca 400114, Romania 46.769299 23.585613
Praediniussingel 10, 9711 AG Groningen, Netherlands 53.2133951 6.5608166
Tel Aviv-Yafo, Israel 32.1133141 34.8043877
Velachery Main Rd, Narayanapuram, Pallikaranai, Chennai, Tamil Nadu 600100, India 12.9452892 80.207843
Raiņa bulvāris 19, Centra rajons, Rīga, LV-1586, Latvia 56.95080979999999 24.1163132
Oxford Rd, Manchester M13 9PL, UK 53.4668498 -2.2338837
Preller St, Muckleneuk, Pretoria, 0002, South Africa -25.7676604 28.1992624
300 N Broadway, Lexington, KY 40508, USA 38.0516801 -84.49334189999999
419 Boston Ave, Medford, MA 02155, USA 42.4074843 -71.1190232
Berkeley, CA, USA 37.8718992 -122.2585399
Los Angeles, CA 90095, USA 34.068921 -118.4451811
9500 Gilman Dr, La Jolla, CA 92093, USA 32.8800604 -117.2340135
Champaign, IL, USA 40.1019523 -88.2271615
College Park, MD 20742, USA 38.9853283 -76.94943479999999
7400 E Arapahoe Rd # 10, Centennial, CO 80112, USA 39.5944197 -104.9024568
Viamonte 430, C1053 CABA, Argentina -34.5998875 -58.37306949999999
101 Regent Ct, State College, PA 16801, USA 40.785354 -77.8227563
900 W 34th St, Los Angeles, CA 90007, USA 34.0235782 -118.2865012
Madison, WI, USA 43.076592 -89.4124875
Caracas, Capital District, Venezuela 10.4883502 -66.8891696
Av. Séneca, 2, 28040 Madrid, Spain 40.4375731 -3.7252231
Calle 30, Santa Marta, Magdalena, Colombia 11.2234838 -74.1708905
University City, Coyoacán, 04510 Mexico City, CDMX, Mexico 19.3228313 -99.18657739999999
Avenida 1, Calle 9 Heredia 86, Heredia, 3000, Costa Rica 9.9986898 -84.11118979999999
Cra 45, Bogotá, Colombia 4.6381938 -74.08404639999999
Calle Colombia 154, La Paz, Bolivia -16.500656 -68.134299
Viamonte 430, C1053 CABA, Argentina -34.5998875 -58.37306949999999

Rectorado UCLM, Calle Altagracia, 50, 13001 Ciudad Real, Cdad. Real, Spain 38.9934998 -3.9254365
Cra. 1 #18a 12, Bogotá, Cundinamarca, Colombia 4.601458099999999 -74.0661334
Universidad de Oriente, Avenida 21 Oriente 1816, Zona Sin Asignación de Nombre de Col 39, Azcarate, 72501 Puebla, Pue., Mexico 19.0303925 -98.1903494
11 Av, Cdad. de Guatemala 01012, Guatemala 14.587349 -90.55341399999999
C/Plaza de Santa Cruz, 8, 47002 Valladolid, Spain 41.6569271 -4.7140547
Chía, Cundinamarca, Colombia 4.8615787 -74.0325368
18 Avenida 11-95 Guatemala, Cdad. de Guatemala 01015, Guatemala 14.603762 -90.48924799999999
Campus I - Lot. Cidade Universitaria, João Pessoa - PB, 58051-900, Brazil -7.1377579 -34.8458995
R. Eng. Agronômico Andrei Cristian Ferreira, s/n - Trindade, Florianópolis - SC, 88040-900, Brazil -27.6000837 -48.5194214
Av. Paulo Gama, 110 Secretaria de Comunicação Social - 8º andar - Reitoria - Farroupilha, Porto Alegre - RS, 90040-060, Brazil -30.0332408 -51.2207273
Av. Pedro Calmon, 550 - Cidade Universitária da Universidade Federal do Rio de Janeiro, Rio de Janeiro - RJ, 21941-901, Brazil -22.8617077 -43.2234035
Av. Rovisco Pais 1, 1049-001 Lisboa, Portugal 38.7368192 -9.138705
Butanta, São Paulo - State of São Paulo, Brazil -23.5613991 -46.7307891
R. da Universidade, 4710-057 Braga, Portugal 41.5607319 -8.3962368
Bulaksumur, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281, Indonesia -7.7713847 110.3774998
Camí de Vera, s/n, 46022 València, Valencia, Spain 39.4807985 -0.3406299
Place de lUniversité 1, 1348 Ottignies-Louvain-la-Neuve, Belgium 50.66968749999999 4.6155909
University College Dublin, Belfield, Dublin 4, Ireland 53.3067494 -6.221033599999999
Arcisstraße 21, 80333 München, Germany 48.14966 11.5678602
302 E Buchtel Ave, Akron, OH 44325, USA 41.0770227 -81.5114462
116 St & 85 Ave, Edmonton, AB T6G 2R3, Canada 53.5232189 -113.5263186
1012 WX Amsterdam, Netherlands 52.35581819999999 4.955726299999999
Fayetteville, AR 72701, USA 36.0686895 -94.1748471
Athens 157 72, Greece 37.968196 23.7786871
Studentski trg 1, Beograd, Serbia 44.8184518 20.4575913
Birmingham B15 2TT, UK 52.4508168 -1.9305135
Viamonte 430, C1053 CABA, Argentina -34.5998875 -58.37306949999999
The Old Schools, Trinity Ln, Cambridge CB2 1TN, UK 52.2042666 0.1149085
100 N University Dr, Edmond, OK 73034, USA 35.657506 -97.4709491
5801 S Ellis Ave, Chicago, IL 60637, USA 41.7886079 -87.5987133
2600 Clifton Ave, Cincinnati, OH 45221, USA 39.1329219 -84.51495039999999
Boulder, CO 80309, USA 40.00758099999999 -105.2659417
Storrs, CT 06269, USA 41.8077414 -72.2539805
1845 E Northgate Dr, Irving, TX 75062, USA 32.8462097 -96.9210392
Debrecen, Egyetem tér 1, 4032 Hungary 47.5536257 21.6215102
Newark, DE 19716, USA 39.6779504 -75.7506114
Schloßplatz 4, 91054 Erlangen, Germany 49.5978804 11.0045507
Wivenhoe Park, Colchester CO4 3SQ, UK 51.87772589999999 0.9472069000000001
Largo dos Colegiais 2, 7000-803 Évora, Portugal 38.573181 -7.904595100000001
Gainesville, FL 32611, USA 29.6436325 -82.3549302
405 30 Gothenburg, Sweden 57.6981719 11.971878
Domstraße 11, 17489 Greifswald, Germany 54.0949653 13.374584
20146 Hamburg, Germany 53.5665641 9.984619499999999
2500 Campus Rd, Honolulu, HI 96822, USA 21.296939 -157.8171118
Yliopistonkatu 4, 00100 Helsinki, Finland 60.1726348 24.9510419
No C2, Studiopedia, Off Ministry of Health, Fate Tanke Rd, behind Lgea Primary School, Ilorin, Nigeria 8.4928414 4.5962225
Sir. Pon, Ramanathan Rd, Jaffna, Sri Lanka 9.684855599999999 80.0220413
1450 Jayhawk Blvd, Lawrence, KS 66045, USA 38.9543439 -95.2557961
University of Kerala Senate House Campus, Palayam, Thiruvananthapuram, Kerala 695034, India 8.5032375 76.9473306
Senate House, Malet St, Bloomsbury, London WC1E 7HU, UK 51.5229378 -0.1308206
Av. de Cervantes, 2, 29016 Málaga, Spain 36.7199495 -4.4161391
Jalan Universiti, 50603 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur, Malaysia 3.1209046 101.6538414
Oxford Rd, Manchester M13 9PL, UK 53.4668498 -2.2338837
500 S State St, Ann Arbor, MI 48109, USA 42.2780436 -83.7382241
Columbia, MO 65211, USA 38.9403808 -92.32773750000001
Bandaranayake Mawatha, Moratuwa 10400, Sri Lanka 6.7951275 79.900787
Mahatma Gandhi Road, Kolivery Village, University of Mumbai,Vidya Nagari, Kala Ghoda, Fort, Mumbai, Maharashtra 400032, India 18.9293321 72.8310376
1400 R St, Lincoln, NE 68588, USA 40.8201966 -96.70047629999999
1400 R St, Lincoln, NE 68588, USA 40.8201966 -96.70047629999999
300 Boston Post Rd, West Haven, CT 06516, USA 41.2907061 -72.9615183
Sydney NSW 2052, Australia -33.917347 151.2312675
Notre Dame, IN 46556, USA 41.7055716 -86.2353388
660 Parrington Oval, Norman, OK 73019, USA 35.2058936 -97.4457137
75 Laurier Ave E, Ottawa, ON K1N 6N5, Canada 45.42310639999999 -75.68313289999999
Oxford OX1 2JD, UK 51.7548164 -1.2543668
Via 8 Febbraio 1848, 2, 35122 Padova PD, Italy 45.406766 11.8774462
Corso Str. Nuova, 65, 27100 Pavia PV, Italy 45.1867055 9.1568417
Philadelphia, PA 19104, USA 39.9522188 -75.1932137
Karaoli ke Dimitriou 80, Pireas 185 34, Greece 37.9415137 23.6528681
Lynnwood Rd, Hatfield, Pretoria, 0002, South Africa -25.7545492 28.2314476
37008 Salamanca, Spain 40.9613376 -5.666925099999999
Butanta, São Paulo - State of São Paulo, Brazil -23.5613991 -46.7307891
Obala Kulina bana 7/II, Sarajevo 71000, Bosnia and Herzegovina 43.8568576 18.4189278
Los Angeles, CA 90007, USA 34.0223519 -118.285117
Stellenbosch Central, Stellenbosch, South Africa -33.9328078 18.864447
Ülikooli 18, 50090 Tartu, Estonia 58.3810843 26.7198659
Tehran Province, Tehran, Enghelab Square، Iran 35.7022192 51.39573069999999
Austin, TX 78712, USA 30.2849185 -97.7340567
Austin, TX 78712, USA 30.2849185 -97.7340567
27 Kings College Cir, Toronto, ON M5S, Canada 43.6628917 -79.39565640000001
Geschwister-Scholl-Platz, 72074 Tübingen, Germany 48.5294782 9.043773999999999
Drienerlolaan 5, 7522 NB Enschede, Netherlands 52.2387387 6.8505927
201 Presidents Cir, Salt Lake City, UT 84112, USA 40.7649368 -111.8421021
Universitätsring 1, 1010 Wien, Austria 48.21318549999999 16.3600504
Krakowskie Przedmieście 26/28, 00-927 Warszawa, Poland 52.2403463 21.0186012
18115 Campus Way NE, Bothell, WA 98011, USA 47.7589 -122.1906495
18115 Campus Way NE, Bothell, WA 98011, USA 47.7589 -122.1906495
200 University Ave W, Waterloo, ON N2L 3G1, Canada 43.4722854 -80.5448576
11000 University Pkwy, Pensacola, FL 32514, USA 30.5491387 -87.21858619999999
Madison, WI, USA 43.076592 -89.4124875
Canal Rd, Quaid-i-Azam Campus, Lahore, Punjab, Pakistan 31.47898409999999 74.2661627
1 Jan Smuts Ave, Johannesburg, 2000, South Africa -26.1928836 28.0304733
Saulėtekio al. 11, Vilnius 10221, Lithuania 54.7224678 25.3376688
Universiteto g. 3, Vilnius 01513, Lithuania 54.6825757 25.2876469
907 Floyd Ave, Richmond, VA 23284, USA 37.5483122 -77.4526805
Blacksburg, VA 24061, USA 37.22838429999999 -80.42341669999999
666, Upper Indira Nagar, Bibwewadi, Pune, Maharashtra 411037, India 18.464077 73.867619
Krakowskie Przedmieście 26/28, 00-927 Warszawa, Poland 52.2403463 21.0186012
Pullman, WA, USA 46.7319225 -117.1542121
Wayne State, Detroit, MI, USA 42.3590346 -83.07087369999999
3848 Harrison Blvd, Ogden, UT 84408, USA 41.19246820000001 -111.9444959
Herzl St 234, Rehovot, Israel 31.9045055 34.8083407
4001 700 E #300, Salt Lake City, UT 84107, USA 40.6849285 -111.8700525
3800 Victory Pkwy, Cincinnati, OH 45207, USA 39.149448 -84.47363740000002
44519 طريق الأسماعيلية - الزقازيق، Shaibet an Nakareyah, Zagazig 2, Ash Sharqia Governorate, Egypt 30.5883084 31.4831937
2 Ashfaq Ahmed Rd, H-8/2 H 8/2 H-8, Islamabad, Islamabad Capital Territory 44000, Pakistan 33.6850236 73.05474199999999
411 N Central Ave, Phoenix, AZ 85004, USA 33.5074106 -112.0650182
Gerais, Paineiras - MG, 35622-000, Brazil -18.9494274 -45.4934107
Manhattan, KS 66506, USA 39.1974437 -96.5847249
Av. Séneca, 2, 28040 Madrid, Spain 40.4375731 -3.7252231
Panepistimioupoli Patron 265 04, Greece 38.28923 21.785369
Via 8 Febbraio 1848, 2, 35122 Padova PD, Italy 45.406766 11.8774462
60 Rue Mazarine, 75006 Paris, France 48.8546601 2.3378212
298 records written to where.js
Open where.html to view the data in a browser